@{
    Layout = "~/Views/Shared/_LayoutClienteLogeado.cshtml";
}


<center>
    
 
        <div style="background-color: whitesmoke; padding: 3%; width: 50%; border-radius: 1%; ">
            <div class="title">
                <div style="font-size: large">Ingrese a nuestro Whatsapp</div>

                <div style="font-size: large">Será atendido por uno de nuestros ejecutivos</div>
                <br />



            </div>


            <a class="btn btn-primary boton" href="https://api.whatsapp.com/send?phone=56952753778" role="button" style="background-color: darkslategray;">
                <img src="~/Content/img/Whatsapp.jpg" class="imagen"  >
            </a>
            <br /><br />

            <div style="font-size: large">Reserve su hora o Compre algún producto</div>

        </div>
   
</center>