
@{
    Layout = null;
}


@{
    ViewBag.Title = "Redirigido";
    Layout = Layout = "~/Views/Shared/_LayoutRegistrarCliente.cshtml"; ;
}

<h2>Redirigido</h2>

<script>

                    setTimeout(function () {
                        window.location.href = "#openModal";
                    }, 0);
                    setTimeout(function () {
                        window.location.href = "@Url.Action("ListadoEmpleados","Administrador")";
                    }, 3000);
</script>

<div id="openModal" class="modalDialog">
    <div>
        <!--Button trigger modal-->
        <!--<a href="#close" title="Close" class="close">X</a>-->
        <h2 style="text-align:center">¡¡Empleado eliminado!! </h2>
        <h2 style="text-align:center">Se ha eliminado el empleado de a base de datos</h2>
        <p style="text-align:center">Volviendo al listado de empleado</p>
    </div>
</div>