@{
    Layout = "~/Views/Shared/_LayoutLoginAdministrador.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />


<center>
    <a href="@Url.Action("RegistrarEmpleado","Administrador")">Registrar empleado</a>
    <a href="@Url.Action("ListadoEmpleados","Administrador")">Listado de empleado</a>
    <a href="@Url.Action("ListadoClientes","Administrador")">Listado de Clientes</a>


</center>




